/*The commented out block below was used for debugging the layout's paddings and margins*/
/** {
	border-width: 1px;
	border-style: solid;
	border-color: red;
}*/

body {
	background-color: #000000;
	color: #ffffff;
}

.game-statistics {
	font-size: 100px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#win-statistics {
	background: #00a951;
}

#loss-statistics {
	background: #a90006;
}